<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Adobe_Session6::candidates" title="Candidates"
                          translate="title" sortOrder="110">
                    <resource id="Adobe_Session6::candidates_get" title="Get Candidates"
                              translate="title" sortOrder="10" />
                    <resource id="Adobe_Session6::candidates_addresses_get" title="Get Candidates Addresses"
                              translate="title" sortOrder="20" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
