<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Created By : Yash B
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Adobe\Session6\Api\CandidateRepositoryInterface" type="Adobe\Session6\Model\CandidateRepository" />
    <preference for="Adobe\Session6\Api\Data\CandidateInterface" type="Adobe\Session6\Model\Candidate" />
    <preference for="Adobe\Session6\Api\CandidateAddressRepositoryInterface" type="Adobe\Session6\Model\CandidateAddressRepository" />
    <preference for="Adobe\Session6\Api\Data\CandidateAddressInterface" type="Adobe\Session6\Model\CandidateAddress" />
    <type name="Adobe\Session6\Api\CandidateRepositoryInterface">
        <plugin name="get_addresses_attribute" type="Adobe\Session6\Plugin\CandidateGet"/>
    </type>
    <type name="Adobe\Session6\Api\CandidateAddressRepositoryInterface">
        <plugin name="get_candidates_attribute" type="Adobe\Session6\Plugin\CandidateAddressGet"/>
    </type>
</config>
