<?xml version="1.0"?>
<!--
/**
* Copyright © Magento. All rights reserved.
* See COPYING.txt for license details.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="general">
            <group id="Unit6" type="text" translate="label" sortOrder="100"
                   showInDefault="1" showInStore="1" showInWebsite="1">
                <label>Unit6 Fields</label>
                <field id="test" type="select" translate="label comment" sortOrder="7"
                       showInWebsite="0" showInStore="0" showInDefault="1">
                    <label>Test Field</label>
                    <comment>This is test select field</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="custom" type="select" translate="label comment" sortOrder="10"
                       showInDefault="1" showInStore="0" showInWebsite="0">
                    <label>Custom test field</label>
                    <comment>This's another test field</comment>
                    <frontend_model>Unit6\SystemConfiguration\Block\Config\Custom</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>